@charset "UTF-8";

/* 네브바 페이지 가운데 고정은 어떻게 해야할까요? --> fix 속성을 준다! */
/* 노마드코더 위치 한 번 더 듣기 */
 


/* nav바 만들기 */
nav {
    display: flex;
    background-color:  #829BBF;
}

        .nav ul li {
            list-style: none;
            color: white;
            background-color: #829BBF;
            float: left;
            line-height: 10px;
            vertical-align: middle;
            text-align: center;
            
        }
        
        .nav .nav_list_link {
            text-decoration: none;
            color: white;
            display: block;
            width: 400px;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            
        }
        
        .nav .nav_list_link:hover {
            color: white;
            opacity: 0.7;
        }
        

/* header style */
        .main_text {
            text-align: center;
            /* font-weight: lighter; */
            padding: 150px 0  30px 0;
            color: #BBDEFB;
            font-size: 20px;
            font-weight: lighter;
           
        }
       
        
/* font style */
/* .h {
    font-size: 30px;
    color: #BBDEFB;
    
}
.t1 {
    font-size: 30px;
    color: #BBDEFB;
}
.t2{
font-size: 35px;
color: white;
font-weight: bold;
}

.t3{
    font-size: 35px;
     color: white;
} */


/* img {
    max-width:60%;
    height: auto;
    display: block;
    margin: 0px auto;
}

.img2 {
    padding: 200px 0 0 0;
} */