@charset "UTF-8";

/* 네브바 페이지 가운데 고정은 어떻게 해야할까요? --> position: fixd 속성을 준다! */
/* 노마드코더 위치 한 번 더 듣기 */
 


/* nav바 만들기 */
/* nav {
    display: flex;
    background-color:  #829BBF;
    
}

        .nav ul li {
            list-style: none;
            color: white;
            background-color: #829BBF;
            float: left;
            line-height: 10px;
            vertical-align: middle;
            text-align: center;
            
        }
        
        .nav .nav_list_link {
            text-decoration: none;
            color: white;
            display: block;
            width: 400px;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            
        }
        
        .nav .nav_list_link:hover {
            color: white;
            opacity: 0.7;
        } */

        nav {
            display: flex;
            background-color: black;
            justify-content: space-evenly;
            align-items: center;
            background-color: #829BBF;
            font-weight: bold;
            
            top: 10px;
            left: 10px;
            right: 10px;
            position: fixed;

            /* flex박스와 position: fixed 동시에 주기(위치 설정 해줘야된다.ㄴ) */
        }

        nav a {
            color: white;
            padding: 13px 10px;
            text-decoration: none;
            text-align: center;

        }

        nav a:hover {
            background-color: none;
            opacity: 0.4;
        }